.text-header {
    text-align: center;
    background-color: aqua;
}

.contenedor-doble{
    display: flex;
}

.imagen-perfil{
height: 100px;
width: 100px;
}

.contenedor{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
